@{
    ViewData["Title"] = "Home Page";
}

<h2>Pizza Shop Online</h2>
<p>Welcome to the Pizza Shop online ordering page!</p>

@TempData["FeedbackMsg"]
@if (TempData.Peek("CurrentUser") == null)
{
    <p>Log in to begin your order:</p>
    <form asp-action="Login" asp-controller="Home" method="post">
        <input type="text" name="Username" class="button1" value=@TempData["LastInput"] />
        <input type="submit" name="Log In" class="button1" value="Log In" />
    </form>

    <a asp-area="" asp-controller="Home" asp-action="CreateNewUser">New User Creation</a>
}

@if (TempData.Peek("CurrentUser") != null)
{
    <p>Currently Logged in as: @TempData.Peek("CurrentUser") </p>
    <form asp-action="Logout">
        <input type="submit" value="Logout" class="btn btn-default" />
    </form>

    <form asp-action="OrderStart">
        <input type="submit" value="Order Pizza" class="btn btn-default" />
    </form>

}

