@model List<PizzaShop.WebApp.Models.Pizza>
@{
    ViewData["Title"] = "OrderStart";
}

<h2>Start your order here</h2>

<p>Here's a recommended order just for you!</p>
@for (int i = 1; i <= Model.Count; i++)
{
    <h5>Pizza @i</h5>
    <hr />
    @Html.Partial(@"..\Pizza\Details", Model[i - 1])
}

    <form asp-action="Logout">
        <input type="submit" value="Start With Empty Order" class="btn btn-default" />
    </form>

    <form asp-action="Logout">
        <input type="submit" value="Start With Recommended Order" class="btn btn-default" />
    </form>